* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: rgb(39, 36, 35);
}

/*Navbar*/

nav {
    background-color: antiquewhite;
    color:rgb(154, 75, 75) !important; 
    border-radius: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 10vh;
    margin: 2vh 3vw 4vh 3vw;
    border: 0.5vh solid rgb(154, 75, 75);
}

.left-nav {
    padding: 2vh 2vh;
    font-size: 6vh;
    text-align: center;
    font-family: "BJCree", serif;
    font-weight: 700;
    font-style: normal;
}

.right-nav {
    color: rgb(154, 75, 75);
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    border-radius: 0 6px 6px 0;
}

.right-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.right-nav ul li {
    padding: 2vh;
    margin: 1vh;
    border-radius: 2vh;
    transition: 0.7s;
}

.right-nav li:hover {
    background-color: rgb(154, 75, 75);
    color: antiquewhite;
}

.right-nav a {
    text-decoration: none;
    color: inherit;
}

.searchBox {
    display: none;
    width: 20vw;
    position: fixed;
    left: 0;
    background-color: black;
}

/*Content Between Nav and Main*/
.pin img {
    width: 1.5rem;
    height: auto;
}

.pin {
    font-size: 1.5rem;
    margin: 0 0 3vh 0;
}

.pin-top {
    background-color: rgb(154, 75, 75);
}

.pin-content {
    background-color: rgb(196, 137, 65);
}

/*main content*/

.body {
    margin: 1vh 2vw;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
}

.tile {
    margin: 4px 0 4px 0;
    background-color: rgb(35, 35, 35);
    color: antiquewhite;
    border-radius: 1vh;
    text-align: left;
    outline: none;
    text-decoration: none;
    transition: 0.4s;
}

.tile:hover {
    background-color: bisque;
    color: rgb(154, 75, 75);
    box-shadow: 0 0 1em rgba(250, 235, 215, 0.5);
}

.blog-header {
    font-size: larger;
    padding: 1vh 1vh;
    background-color: rgb(107, 48, 48);
    border-radius: 1vh 1vh 0 0;
    color: antiquewhite;
}

.tile:visited {
    text-decoration: underline;
}

.blog-desc {
    font-size: large;
}

/*footer*/

.footer {
    font-size: larger;
    background-color: black;
    color: white;
    text-align: center;
    min-height:10vh;
}

/*About page*/

.about {
    font-size: 10vh;
    color: rgb(154, 75, 75);
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
}

.in-about {
    color: antiquewhite;
    font-size: 3vh;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.in-about:hover {
    font-size: 15vh;
    font-weight:900;
}

/*Blog*/

.blog1-header {
    text-align: left;
    font-family: "Bungee" sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    color: rgb(154, 75, 75);
    margin: 2vh 6vh 4vh 6vh;
    padding: 1vh;
    border-radius: 1vh;
}

.content {
    text-align: justify;
    font-family: "Bungee" sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: antiquewhite;
    margin: 2vh 6vh 4vh 6vh;
    padding: 1.5vh;
    border-radius: 1vh;
    background-color: rgb(58, 58, 72);
    border: 0.5vh solid rgb(33, 33, 41);
}